xml/schema/cryptic.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>An ODD for Cryptic Crosswords</title>
        <author><name type="person">Martin Holmes</name></author>
      </titleStmt>
      <publicationStmt>
        <p>Available to anyone for any purpose, anywhere, any time.</p>
      </publicationStmt>
      <sourceDesc>
        <p>Born-digital document created with Oxygen.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <classDecl>
        <taxonomy xml:id="clueTypes">
          <desc>This taxonomy enumerates the range of types of clue which 
              appear in the corpus. This taxonomy is processed to create a set 
              of values for the @ana attribute on <gi>item</gi>. More than 
              one type may be assigned to a single clue. Most types, at least 
              initially, are derived from Ximenes Chapters VI and VII.
          </desc>
          
          <category xml:id="ctpUnknown">
            <gloss>Unknown</gloss>
            <desc>Unknown or as-yet unspecified form of clue.</desc>
          </category>
          
          <category xml:id="ctpSynonym">
            <gloss>Synonyms (Xim type 6.1: one or more meanings)</gloss>
            <desc>A clue whose contents provide at least two different
                  meanings of the target term.</desc>
          </category>
          <category xml:id="ctpReversal">
            <gloss>Reversals (Xim type 6.2: reversal)</gloss>
            <desc>Defined words are reversed in order to generate the 
                  answer.</desc>
          </category>
          <category xml:id="ctpCharade">
            <gloss>Charade (Xim type 6.3: charade)</gloss>
            <desc>A clue whose form component consists a series of individual clued words.</desc>
          </category>
          <category xml:id="ctpContainerContents">
            <gloss>Container and contents (Xim type 6.4: container and contents)</gloss>
            <desc>A clue whose constructor component involves putting some elements
              inside other elements.</desc>
          </category>
          <category xml:id="ctpPun">
            <gloss>Pun (Xim type 6.5: pun)</gloss>
            <desc>A clue whose constructor involves a sound-alike hint.</desc>
          </category>
          <category xml:id="ctpAnagram">
            <gloss>Anagram (Xim type 6.6: anagram)</gloss>
            <desc>A clue whose constructor component involves an anagram of
              one or more components.</desc>
          </category>
          <category xml:id="ctpHeadsTails">
            <gloss>Heads and tails (Xim type 7.1 Heads and tails)</gloss>
            <desc>A clue whose constructor involves removing the leading or
                  trailing letter(s) from a component.</desc>
          </category>
          <category xml:id="ctpSpeechPeculiarities">
            <gloss>Speech peculiarities (Xim type 7.2 Peculiarities of speech)</gloss>
            <desc>A clue whose constructor invokes a dialectal pronunciation such as 
            dropped h, or pathological feature such as lisping.</desc>
          </category>
          <category xml:id="ctpWordsInWords">
            <gloss>Words in words (Xim type 7.3 Words treated as parts of other words)</gloss>
            <desc>A clue whose constructor results in a term which must be truncated in some
              way to reveal the true answer.</desc>
          </category>
          <category xml:id="ctpInitialOrFinal">
            <gloss>Initial or final letters (Xim type 7.4 Initial or final letters)</gloss>
            <desc>A clue whose constructor makes use of the initial or final letters of 
              a phrase (one kind of reverse version of <ref target="#ctpHeadsTails">Heads and tails</ref>).</desc>
          </category>
          <category xml:id="ctpForeign">
            <gloss>Foreign languages (Xim type 7.5 Foreign languages)</gloss>
            <desc>A clue whose constructor invokes words from other languages.</desc>
          </category>
          <category xml:id="ctpLiterary">
            <gloss>Literary references (Xim type 7.6 Literary references etc.)</gloss>
            <desc>A clue whose constructor includes a quotation or refers to a literary
              text.</desc>
          </category>
          <category xml:id="ctpOutsides">
            <gloss>Outsides (Xim type 7.7 Outsides</gloss>
            <desc>A clue whose constructor requires the removal of the interior of a 
            word or phrase. This is a special case of 
              <ref target="#ctpInitialOrFinal">Initial or final</ref>.</desc>
          </category>
          <category xml:id="ctpEmbodiment">
            <gloss>Embodiment (non-Ximenean)</gloss>
            <desc>A clue type that would probably have fallen into the "unclassified" category
              for Macnutt, but which is a distinct type of its own, often used by Araucaria.
              In this clue type, the entire clue embodies or exemplifies its answer; describing
              what is happening in the clue provides the answer. Examples from Araucaria include
              GEGS (scrambled eggs), Cox at me (income tax), and Of of of of of of of of of of
              (oftentimes). </desc>
          </category>
          <category xml:id="ctpCrossReference">
            <gloss>Cross-reference to another clue/answer (non-Ximenean)</gloss>
            <desc>A clue which cross-references another clue or the answer to another clue.</desc>
          </category>
          <category xml:id="ctpAndLit">
            <gloss>&amp; Lit. (Xim type 8 &amp; Lit.)</gloss>
            <desc>A clue which, in addition to providing a constructor, forms in its entirety
              a definition of the target word. This type of clue is of necessity combined with
              other types; the key factor is that the definition encompasses the whole clue.</desc>
          </category>
          <category xml:id="ctpUnclassified">
            <gloss>Unclassified (Xim type 7.8 Various)</gloss>
            <desc>Ximenes provides several examples of clues not fitting into other 
            categories here; many use question marks or exclamation marks as a signal
            that they are pushing the boundaries of sense or invoking non-existent 
            terms.</desc>
          </category>
        </taxonomy>
        <taxonomy xml:id="clueComponents">
          <!--<desc>This taxonomy enumerates the different components of clues 
              appearing in the corpus. This taxonomy is processed to create 
              a set of values for @ana appearing on <gi>seg</gi>.</desc>-->
          <category xml:id="ccpUnknown">
            <gloss>Unknown</gloss>
            <desc>Unknown or as-yet unspecified type of clue component.</desc>
          </category>
          <category xml:id="ccpDef">
            <gloss>Definition</gloss>
            <desc>This part of the clue is the definition of the answer.</desc>
          </category>
          <category xml:id="ccpForm">
            <gloss>Form</gloss>
            <desc>This part of the clue contains instructions for building the answer.</desc>
          </category>
          <category xml:id="ccpSignal">
            <gloss>Signal</gloss>
            <desc>This is a component of the clue that signals how the clue is to be 
              interpreted; this would include for instance <mentioned>mixed</mentioned> suggesting
              an <ref target="#ctpAnagram">anagram</ref>, or <mentioned>within</mentioned> suggesting 
              <ref target="#ctpWordsInWords">Words in words</ref>.</desc>
          </category>
          <category xml:id="ccpMisdirection">
            <gloss>Misdirection</gloss>
            <desc>This is a component of the clue that is constructed such that it 
            will lead the solver to misinterpret the clue or confuse its components.
            This might be a phrase that hangs together as a semantic unit, but in 
            the solution breakdown, would actually be fragmented.</desc>
          </category>
          <category xml:id="ccpConvention">
            <gloss>Convention</gloss>
            <desc>This is a component of the clue that depends on a word or phrase 
              which is commonly used to suggest an answer component. Such components
              are often fossilized clichés. For example,
              <mentioned>about</mentioned> = <mentioned>circa</mentioned> = <mentioned>c</mentioned>;
              <mentioned>revolutionary</mentioned> = <mentioned>red</mentioned>;
              <mentioned>worker</mentioned> = <mentioned>ant</mentioned> or <mentioned>bee</mentioned>;
              <mentioned>point</mentioned> = <mentioned>compass point</mentioned> = <mentioned>N</mentioned>,
              <mentioned>S</mentioned>, <mentioned>E</mentioned> or <mentioned>W</mentioned>.</desc>
          </category>
          <category xml:id="ccpLength">
            <gloss>Length</gloss>
            <desc>This component of the clue, usually parenthesized, specifies the
            length(s) of the solution word(s).</desc>
          </category>
        </taxonomy>
      </classDecl>
    </encodingDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="cryptic">
        <moduleRef key="tei"/>
        <moduleRef key="core"
          include="abbr author bibl biblScope choice cit corr date desc editor email emph expan foreign gloss graphic head hi item l label lb list listBibl measure mentioned name note num orig p ptr pubPlace publisher q quote ref reg resp respStmt rs said series sic soCalled teiCorpus term title unclear"/>
        <moduleRef key="header"
          include="abstract appInfo application authority availability catDesc catRef category change correction creation distributor edition editionStmt editorialDecl encodingDesc fileDesc funder idno interpretation langUsage language licence listChange listPrefixDef normalization prefixDef principal profileDesc projectDesc publicationStmt punctuation quotation rendition revisionDesc samplingDecl sourceDesc sponsor styleDefDecl taxonomy teiHeader titleStmt xenoData"/>
        <moduleRef key="textstructure"
          include="TEI back body byline dateline div ipigraph front signed text"/>
        <moduleRef key="namesdates"
          include="addName affiliation age birth country death event forename genName geo listEvent listOrg listPerson listPlace listRelation location nameLink occupation org orgName persName person personGrp place placeName relation roleName surname trait"/>
        <moduleRef key="figures" include="cell figDesc figure formula notatedMusic row table"/>
        <moduleRef key="gaiji"
          include="char charDecl charName charProp g glyph glyphName mapping unicodeName value"/>
        <moduleRef key="analysis"/>
        <moduleRef key="linking" include="ab anchor link linkGrp seg"/>

        <classSpec ident="att.global.linking"
          module="linking"
          type="atts"
          mode="change">
          <attList>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
          </attList>
        </classSpec>
        
<!--      @source must always be used to point at items in the bibliography.  -->
        <classSpec type="atts" ident="att.global.source" module="tei" mode="change">
          <attList>
            <attDef ident="source" mode="change">
              <valList mode="add" type="closed">
              </valList>
            </attDef>
          </attList>
        </classSpec>

        <elementSpec ident="item" module="core" mode="change">
          <constraintSpec ident="anaOnItem" scheme="isoschematron" mode="add">
            <constraint>
              <assert xmlns="http://purl.oclc.org/dsdl/schematron"
                test="if (parent::tei:list[@type='clues']) then @ana else not(@ana)" role="error"> The
                @ana attribute must always be supplied on item elements which are clues (children of
                list[@type='clues']; however, it must not be supplied in other cases.</assert>
            </constraint>
          </constraintSpec>
        </elementSpec>


        <elementSpec ident="seg" module="linking" mode="change">
          <constraintSpec ident="anaOnSeg" scheme="isoschematron" mode="add">
            <constraint>
              <assert xmlns="http://purl.oclc.org/dsdl/schematron"
                test="if (ancestor::tei:list[@type='clues']) then @ana else not(@ana)" role="error"> The
                @ana attribute must always be supplied on seg elements which part of clues
                (descendants of list[@type='clues']; however, it must not be supplied in other
                cases.</assert>
            </constraint>
          </constraintSpec>
        </elementSpec>
      
      <elementSpec ident="span" module="linking" mode="change">
        <constraintSpec ident="anaOnSpan" scheme="isoschematron" mode="add">
          <constraint>
            <assert xmlns="http://purl.oclc.org/dsdl/schematron"
              test="if (ancestor::tei:list[@type='clues']) then @ana else (@ana or not(@ana))" role="error"> The
              @ana attribute must always be supplied on span elements which part of clues
              (descendants of list[@type='clues'].</assert>
          </constraint>
        </constraintSpec>
      </elementSpec>
        
      </schemaSpec>


    </body>
  </text>
</TEI>
